body{
    background-color: #DABB6C;
}

.dot {
    height: 230px;
    width: 230px;
    display: inline;
    margin-left: 106px;
    margin-top: 350px;
}

.logoMapel{
    text-align: center;
}


li{
    display: inline;
    padding: 140px;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul{
    text-align: center;
}

.kiri{
    margin-left: 60px;
}

li a:hover{
    background-color: black;
}
