body{
    background-color: #AF7C30;
}

.container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.isi{
    min-height: 300px;
    background-color: #DABB6C;
    width: 90%;
    border-radius: 17px;
    margin-top: 50px;

}

h1{
    font-family: sans-serif;
    color: white;
}

.hasil{ 
    padding: 20px;
    font-size: 32px;
    font-family: sans-serif;
    color: white;
}

.semangat{
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.btn{
    text-decoration: none;
    background-color: #C4C4C4;
    min-height: 52px;
    align-self: flex-start;
    padding: 10px;
}